<%- include('partials/header') %>
<div class="login_page">
    <form action="/register" method="post">
        <h2>SignUp</h2>
        <label for="username">Name:</label>
        <input type="Name" name="Name"  required>
        <label for="email">E-mail:</label>
        <input type="email" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Sign In">
        <p>already have an account.. ? <a href="/login">Login</a>   </p>
      </form> 
         
</div>
<%- include('partials/footer') %>